/* top section stuff */

#topSection {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

#webName {
  height: 80px;
  width: 300px;
  display: flex;
}

#logo {
  height: 80px;
  width: 300px;
}

input {
  font-size: 30px;
  border-radius: 8px;
  text-align: right;
  display: flex;
}

.userButton {
  font-size: 20px;
  border-radius: 10px;
}
/* posts section stuff */

.postBox {
  border: 1px solid black;
  margin: 15px;
}

.titleBox {
  background-color: red;
  font-size: 20px;
}
