/* top section stuff */

#topSection {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

#webName {
  height: 80px;
  width: 300px;
  display: flex;
}

#logo {
  height: 80px;
  width: 350px;
}

input {
  font-size: 30px;
  color: black;
  border-radius: 8px;
  text-align: right;
  display: flex;
  font-family: "Raleway", sans-serif;
  /* font-family: "Bitter", serif; */
  /* font-family: "Sarabun", sans-serif; */
  background-image: linear-gradient(
    to bottom right,
    rgb(213, 218, 221),
    rgb(241, 243, 244)
  );
}

#topButtons {
  padding: 5px;
}

.userButton {
  font-size: 20px;
  font-family: "Bitter", serif;
  border-radius: 10px;
}
body {
  background-color: rgb(116, 116, 116);
}
/* side bar action  */
#sideBar {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 35px;
  height: 300px;
  width: 500px;
  margin-top: 20px;
  display: flex;
  flex-flow: column;
}

.menuItem {
  font-family: "Roboto Slab", serif;
}

.menuItem:hover {
  background-color: black;
  color: rgb(240, 237, 95);
}

#createPost {
  font-size: 20px;
  border-radius: 5px;
}
/* Middle Section Action */

#mainDisplay {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
  background-color: rgb(213, 218, 221);
}

#signUp {
  color: white;
  background-color: rgb(71, 71, 250);
}

#logIn {
  color: rgb(71, 71, 250);
  background-color: white;
}
/* posts section stuff */

.fighter {
  height: 130px;
  align-self: center;
}
.postBox {
  border: 1px solid black;
  margin: 15px;
  background-color: rgb(241, 243, 244);
}

.titleBox {
  background-color: rgb(196, 195, 195);
  font-size: 20px;

  font-weight: bold;
}

.imageBox {
  display: flex;
  justify-content: space-around;
}
.postImage {
  height: 200px;
  width: 200px;
}

.titleBox {
  font-family: "Sarabun", sans-serif;
}

.authorBox {
  font-family: "Sarabun", sans-serif;
}

/* .authorBox {
  text-align: right;
} */

/* adds section  */

.adds {
  max-width: 285px;
  margin-top: 10px;
}
