/* background image */

body {
  /* background-color: rgb(116, 116, 116); */
  background-image: url("https://www.artsfon.com/large/201702/95927.jpg");
  background-attachment: fixed;
}

/* top section stuff */

#topSection {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

#webName {
  height: 80px;
  width: 300px;
  display: flex;
}

#logo {
  height: 80px;
  width: 350px;
}

input {
  display: flex;
  font-size: 30px;
  color: black;
  border-radius: 8px;
  text-align: right;
  display: flex;
  font-family: "Raleway", sans-serif;
  /* font-family: "Bitter", serif; */
  /* font-family: "Sarabun", sans-serif; */
  background-image: linear-gradient(
    to bottom right,
    rgb(213, 218, 221),
    rgb(241, 243, 244)
  );
}

#topButtons {
  padding: 5px;
}

.userButton {
  font-size: 20px;
  font-family: "Bitter", serif;
  border-radius: 10px;
}

#signUp {
  color: white;
  background-color: rgb(71, 71, 250);
}

#logIn {
  color: rgb(71, 71, 250);
  background-color: white;
}

/* side bar action  */
#sideBar {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 35px;
  height: 300px;
  width: 200px;
  max-width: 200px;
  margin-top: 20px;
  margin-left: 5px;
  display: flex;
  flex-flow: column;
  box-shadow: 5px 5px gray;
}

.menuItem {
  font-family: "Roboto Slab", serif;
}

.menuItem:hover {
  background-color: black;
  color: rgb(240, 237, 95);
}

#createPost {
  font-size: 20px;
  border-radius: 5px;
  width: 150px;
  margin-left: 5px;
  font-family: "Libre Baskerville", serif;
}
/* P4p rankings action  */
#p4p {
  font-family: "Russo One", sans-serif;
  margin-left: 8px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px gray;
}

h1 {
  margin-top: 0;
  background-color: rgb(175, 27, 22);
  border-radius: 5px;
  border-bottom: 1px solid black;
}

.rankBox {
  margin-left: -10px;
}

.hold {
  display: flex;
  flex-flow: row;
  font-size: 14px;
  margin: 10px;
}

.flags {
  margin-left: -5px;
  height: 15px;
  width: 30px;
}

.topFighters {
  margin-left: 5px;
}
#voteDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

#vote {
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  border-radius: 5px;
}
/* Middle Section Action */
/* BATTLE BOX ACTION */
#battleBox {
  display: flex;
  flex-flow: row;
  font-family: "Russo One", sans-serif;
  justify-content: space-around;
  font-size: 25px;
}

.cartoon {
  height: 155px;
  width: 155px;
  display: flex;
}

.thumb {
  height: 25px;
  widows: 25px;
  margin-left: 8px;
}

/* post box display action  */

#mainDisplay {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
  background-color: rgb(192, 193, 194);
}

/* posts section stuff */

.fighter {
  height: 130px;
  align-self: center;
}
.postBox {
  border: 1px solid black;
  margin: 15px;
  background-color: rgb(211, 212, 212);
}

.titleBox {
  background-color: rgb(153, 152, 152);
  font-size: 20px;

  font-weight: bold;
  border-bottom: 1px solid black;
}

.imageBox {
  display: flex;
  justify-content: space-around;
}
.postImage {
  height: 200px;
  width: 200px;
}

.titleBox {
  font-family: "Sarabun", sans-serif;
}

.authorBox {
  font-family: "Sarabun", sans-serif;
}

/* adds section  */

#addBody {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.adds {
  max-width: 285px;
  margin-top: 10px;
}

/* cartoon section */

.corner {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.cartoonName {
  text-align: center;
}

#style {
  text-shadow: 0 0 5px #0000ff;
}

#vsBox {
  font-size: 35px;
  display: flex;
  align-items: center;
  text-shadow: 0 0 3px yellow;
}

#silva {
  text-shadow: 0 0 3px #ff0000;
}

.counterBox {
  display: flex;
  flex-flow: row;
}
